{
  "ConnectionStrings": {
    "DefaultConnection": "Host=ep-example.eu-central-1.aws.neon.tech;Port=5432;Database=neondb;Username=neondb_owner;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true"
  }
}